@charset "utf-8";
* {margin:0; padding:0; border:none}
html {width:100%; height:100%}
body {min-width:1000px; height:100%; font: 14px "Trebuchet MS", sans-serif; overflow-y:scroll; }
#testplace {margin:auto; background-color:#fff; width:100%; height:100%; }
.color {cursor:pointer}